<?xml version="1.0" encoding="UTF-8"?>
<config>
	<general>
		<logfile>nsupdate.log</logfile>
		<dryrun>0</dryrun> 
		<authmethod>digest</authmethod> <!-- digest or basic -->
	</general>
	<users>
		<user name="joe" password="doe">
			<hostname>*.invalid.inv</hostname> <!-- note that *.foo.com does not include foo.com itself! -->
		</user>
		<user name="dummy">
			<hostname>*.foo.invalid.inv</hostname>
		</user>
	</users>
	<zones>
		<zone name="invalid.inv">
			<keyfile />
			<nameserver>ns.invalid.inv</nameserver>
		</zone>
	</zones>
</config>
